@media only screen and (max-width: 500px) {
    .img {
        display: none;
    }
} 
@media only screen and (min-width: 320px){
    .img2 {
       width: 100px;
       height: 100px;
       margin: 0 0 0 0;
    }
}   
 @media only screen and (min-width: 500px) {
    .img2 {
        display: none;
    }
    .img{
        width: auto;
    }
}  
#abajo{
    height: 12%;
    width: 980px;
    background: orange;
    position: relative;
    left: 10px;
    
}     